@import url('https://fonts.googleapis.com/css?family=Expletus+Sans&display=swap');

.bodyintro {
  height: 100vh !important;
  width: 100% !important;
  background-repeat: no-repeat;
  margin: 0 !important;
  padding: 0 !important;
  background: linear-gradient(231deg, #051937, #004d7a, #008793, #00bf72, #18fc93);
  background-size: 500% 500%;
  -webkit-animation: bgAnimado 20s ease infinite;
  -moz-animation: bgAnimado 20s ease infinite;
  animation: bgAnimado 20s ease infinite;
}

@-webkit-keyframes bgAnimado {
  0% {
    background-position: 0% 23%
  }

  50% {
    background-position: 100% 78%
  }

  100% {
    background-position: 0% 23%
  }
}

@-moz-keyframes bgAnimado {
  0% {
    background-position: 0% 23%
  }

  50% {
    background-position: 100% 78%
  }

  100% {
    background-position: 0% 23%
  }
}

@keyframes bgAnimado {
  0% {
    background-position: 0% 23%
  }

  50% {
    background-position: 100% 78%
  }

  100% {
    background-position: 0% 23%
  }
}


.containerIntro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.brandologo {
  text-align: center;
  font-family: 'Expletus Sans', serif;
}

.textico {
  font-size: 6rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

/*Texto */
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.8s both;
  animation: tracking-in-expand 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.8s both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}