@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  background-image: url(../img/bg-blur.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#cargaModulo {
  width: -webkit-fill-available;
  background: white;
  height: auto;
  border: 1px dotted #888;
  margin: 3rem 1rem 0 0;
}
