@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  background: linear-gradient(to right top, #073040, #131826, #474f61);
  background-repeat: no-repeat;
  background-size: cover;
}

#cargaModulo {
  width: -webkit-fill-available;
  background: white;
  max-height: 88vh;
  margin: 3rem 1rem 0 0;
  border-radius: .6rem;
  overflow-y: auto;
}

nav ul li.active {
  border-left: 3px solid #22d48c;
  font-weight: bold;
}

.menu-botones #show-sidebar:hover {
  border: 1px solid #fff;
}

.btn-menu:active{
  color: #22d48c;
}

.menu-botones #show-sidebar:active {
  border: 2px solid #22d48c;  
}
