@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif !important;
  background: #fff;
  background: linear-gradient(to right top, #073040, #131826, #474f61);
  background-repeat: no-repeat;
  background-size: cover;
}

#cargaModulo {
  width: -webkit-fill-available;
  background: white;
  height: 96vh;
  max-height: 96vh;
  margin: 0 1rem 0 0;
  border-radius: .6rem;
  overflow-y: hidden;
}

nav ul li.active {
  border-left: 3px solid #22d48c;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.2);
}

.menu-botones #show-sidebar:hover {
  border: 1px solid #fff;
}

.btn-menu:active {
  color: #22d48c;
}

.menu-botones #show-sidebar:active {
  border: 2px solid #22d48c;
}

.table-scrollbar {
  position: relative;
  height: 420px;
  overflow: auto;
}

.table-scrollbar .thead-light th {
  position: sticky !important;
  top: 0;
}

table {
  white-space: nowrap;
}

.table-wrapper-scroll-y {
  display: block;
}

/* select starting stylings ------------------------------*/
.select {
  position: relative;
}

.select-text {
  position: relative;
  font-family: inherit;
  background-color: transparent;
  width: -webkit-fill-available;
  font-size: .875rem;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: .9rem 0 .4rem 0;
  margin: 0 0 .5rem 0;
}

/* Remove focus */
.select-text:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

/* Use custom arrow */
.select .select-text {
  appearance: none;
  -webkit-appearance: none
}

.select:after {
  position: absolute;
  top: 18px;
  right: 10px;
  /* Styling the down arrow */
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.12);
  pointer-events: none;
}

/* active state */
.select-text:focus~.select-label, .select-text:valid~.select-label {
  color: #2F80ED;
  top: -20px;
  transition: 0.2s ease all;
  font-size: 14px;
}

/* BOTTOM BARS ================================= */
.select-bar {
  position: relative;
  display: block;
}

.select-bar:before, .select-bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #2F80ED;
  transition: 0.2s ease all;
}

.select-bar:before {
  left: 50%;
}

.select-bar:after {
  right: 50%;
}

/* active state */
.select-text:focus~.select-bar:before, .select-text:focus~.select-bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.select-highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.font1 {
  font-size: 1rem !important;
}

/* Ocultar input de búsqueda en dataTable JS */
.dataTables_filter {
  display: none;
}

.btn-export {
  margin: .375rem !important;
  color: inherit !important;
  text-transform: uppercase !important;
  word-wrap: break-word !important;
  white-space: normal !important;
  cursor: pointer !important;
  border: 0 !important;
  border-radius: .125rem !important;
  box-shadow: 0 !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out !important;
  padding: .5rem 1.6rem !important;
  font-size: .8rem !important;
  background-color: #dadada !important;
  background-image: none !important;
}

.btn-export:hover {
  background-color: #bababa !important;
}

.paginate_button.current {
  margin: .375rem !important;
  color: inherit !important;
  text-transform: uppercase !important;
  word-wrap: break-word !important;
  white-space: normal !important;
  cursor: pointer !important;
  border: 0 !important;
  border-radius: .125rem !important;
  box-shadow: 0 !important;
  padding: .5rem 1.6rem !important;
  font-size: .8rem !important;
  background-color: #dadada !important;
  background-image: none !important;
}

.paginate_button:hover {
  color: inherit !important;
  word-wrap: break-word !important;
  white-space: normal !important;
  cursor: pointer !important;
  border: 0 !important;
  border-radius: .125rem !important;
  box-shadow: 0 !important;
  background: #bababa !important;
  background-image: none !important;
}

tr td:nth-child(1) {
  text-align: center;
}
